@import "tailwindcss";

html {
  font-family: Roboto, system-ui, sans-serif;
  background-color: var(--background-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: Poppins, system-ui, sans-serif;
  font-weight: 600;
}

:root {
  --accent-primary: #cd5c5c;
  --text-color: #29292b;
  --background-color-primary: #f0edf0;
  --background-color-primary-op: #afa9af70;
  --background-color-secondary: #5e585e;
}

.text-primary {
  color: var(--text-color);
}

.accent-primary {
  color: var(--accent-primary);
}

.background-primary {
  background-color: var(--background-color-primary);
}

a:hover,
.link:hover {
  color: var(--accent-primary);
  transition: 0.5s;
}

.blinking-caret {
  animation: blink 1s steps(1) infinite;
  font-weight: normal;
}

.image {
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.01);
}

.hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    var(--background-color-primary) 20%,
    #00000000
  );
  z-index: 1;
  pointer-events: none;
}

.page-content {
  border: solid 2px #ffffff00;
  transition: 0.5s;
}
.page-content:hover {
  border: solid 2px var(--accent-primary);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
