@import "tailwindcss";

html {
  font-family: Roboto, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: Poppins, system-ui, sans-serif;
  font-weight: 600;
}

:root {
  --accent-primary: #ca6fa1;
  --text-color: #eaeaec;
  --background-color-primary: #221f22;
  --background-color-primary-op: #221f22cc;
  --background-color-secondary: #5e585e;
}

.text-primary {
  color: var(--text-color);
}

.accent-primary {
  color: var(--accent-primary);
}

.background-primary {
  background-color: var(--background-color-primary);
}

a:hover,
.link:hover {
  color: var(--accent-primary);
  transition: 0.5s;
}

.blinking-caret {
  animation: blink 1s steps(1) infinite;
  font-weight: normal;
}

.image {
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.05);
}

.hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    var(--background-color-primary) 35%,
    var(--background-color-primary-op) 50%,
    #f5f5f400
  );
  z-index: 1;
  pointer-events: none;
}

.page-content {
  background-color: var(--background-color-secondary);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
